<span class="label primary">
  Within <%= distance %> km of <a href="#" data-open="js-change-location-modal"><%= location %></a>
</span>

<% if types.present? %>
  <% types.each do |type| %>
  <span class="label success"><%= type %></span>
  <% end %>
<% else %>
  <span class="label success">All Types</span>
<% end %>

<% if category.present? %>
  <span class="label warning"><%= category %></span>
<% else %>
  <span class="label warning">All Categories</span>
<% end %>

<% if types.present? || category.present? %>
  <span class="label alert" onclick="window.clearFilters()">Clear Filters</span>
<% else %>
  <span class="label alert">No Filters</span>
<% end %>
<span class="results-count">
  (n) results
</span>
