<div class="grid-x grid-padding-x">
  <div class="cell large-10 medium-12 small-12 large-offset-1">
    <br>
    <h2><%= @pagetitle %></h2>

    <table class="table">
      <thead>
        <tr>
          <th>Created</th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
        <% @advertisements.each do |advertisement| %>
          <tr>
            <td><%= time_ago_in_words advertisement.created_at %> ago</td>
            <td><%= link_to advertisement.title, advertisement_path(uuid: advertisement.uuid) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
