<% if grouped_emoji.count > 0 %>
<div style="margin-bottom:10px" class="emoji-tags">
  <% grouped_emoji.each do |emoji, count| %>
    <a href="#" class="label warning emoji reaction" data-emoji="<%= emoji %>"><%= emoji %> <%= count if count > 1 %></a>
  <% end %>
  <% if user_signed_in? %>
    <a class="label warning emoji reaction new-reaction" href="#">➕</a>
  <% end %>
</div>
<% end %>
