<% if emoji.count > 0 %>
  <div class="emoji-react-container">
  <% emoji.each do |react| %>
    <span><%= react.emoji %> <strong><a href="#"><%= react.actor %>@<%= ENV['CLASSIFEDS_DOMAIN'] %></a> <%= t :added_a_reaction %></strong></span><br>
  <% end %>
  </div>
<% end %>
