<% if grouped_emoji.count > 0 %>
<div style="margin-bottom:10px" class="emoji-tags">
  <% grouped_emoji.each do |emoji, count| %>
    <a href="#" class="label warning emoji reaction" data-emoji="<%= emoji %>"><%= emoji %> <%= count if count > 1 %></a>
  <% end %>
</div>
<% end %>

<% if user_signed_in? %>
<div>
  <a class="label primary new-reaction hide-for-small" href="#">Add Reaction</a>
</div>
<% end %>
