#search_distance {
  visibility: hidden;
  height: 0;
}

.new-advertisement {

  .left-column {

    @include breakpoint(large) {
      min-width:400px;
      max-width:400px;
    }

    #js-small-map {

      .material-icons {
        color: $primary-color;
        opacity: .35;
      }

      .form-group {
        margin-top: -.25rem !important;
      }

    }

    svg {
      @include breakpoint(medium down) {
        display: none;
      }
    }

    .map-container {
      padding-top: .75rem;
      padding-bottom: 0px;

      input {
        margin-top: -.5rem;
      }

    }

    .contact-container {
      padding-bottom: 0px;

      dd a {
        font-size: $small-font-size;
        font-weight: bold;
      }
    }

    .information-container {
      padding-bottom: .5rem;
      padding-top: .75rem;

      dd a {
        font-size: $small-font-size;
        font-weight: bold;
      }
    }
  }

  .center-column {

    #cke_editor {
        // height: 400px;
        height: calc(100vh - 240px);
    }

    #cke_1_contents {
      // height: 358px !important;
      height: calc(100vh - 282px) !important;
    }

    @include breakpoint(medium and up) {
      .heading-container {
        margin-top: 30px;
      }
    }

    .js-emoji-picker {
      text-align: right;
    }

    .form-controls {
      margin-top: 22px;
    }
  }

  .right-column {

    .contact-methods {
      padding-top: 1rem;
      // padding-bottom: .25rem;

      .public-methods-container {
        margin-bottom: 1.25rem;
      }

      .private-methods-container {

      }

      .has-tip {
        display: block !important;
      }

      input {
        margin-bottom: 0px;
      }

      label {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .image-container {

      padding-bottom: .25rem;

      #advertisement_images {
        display: none !important;
      }

      .image-count {
        background-color: white !important;
        color: $primary-color !important;
      }

      .images-container {



        .packery-item {
          width: 31.333%;
        }
      }
    }
  }

  #modal {
    background: $spiral-gradient;
    border-top: 54px solid $secondary-color;
    border-bottom: 54px solid $secondary-color;
    background-size: 100px 50px;
  }

  .carousel-cell {
    width: 100%; /* full width */
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-cell img {
    border: 1px solid $medium-gray;
    display: block;
    max-height: 100%;
  }

  .information {

    .success, .primary {
      color: white;
    }

    .warning {
      color: $primary-color;
    }
  }
}
