.card {

  .card-section {

    span {
      font-weight: bold;
    }

    span.primary {
      color: white;
    }

    span.warning {
      color: $primary-color;
    }

  }

}

a .card {
  position: relative;
  transition: all .05s ease-in-out;
  background-color: rgba(255,255,255,1);

  img {
    width: 100%;
    transition: all .05s ease-in-out;
    opacity: 0.90;
    filter: blur(0.5px) grayscale(35%);;
  }

  .card-location {
    color: $primary-color !important;
    margin-bottom: 0px;
  }

  .emoji {
    opacity: 0.5;
    transition: all .05s ease-in-out;
  }

}

a .card:hover {
  outline: 3px solid $primary-color;
  outline-offset: 3px;
  transform: scale(1.0125);

  img {
    opacity: 1;
    filter: blur(0) grayscale(0);;
  }

  .emoji {
    opacity: 1;
    transform: scale(1.125);
  }

}

.filter-labels {
  font-weight: bold;

  #clear-refinements {
    a {
      color: white;
    }
  }

  .success {
    color: white;
  }

  [data-attribute="for"] {
    color: white;
    background-color: $primary-color;
  }

  [data-attribute="category_name"] {
    color: $primary-color;
    background-color: $warning-color;
  }

  .clear-filters {
    color: white;
    cursor: pointer;

    &:hover {
      background-color: darken($alert-color, 10);
    }
  }
}

.clear-filters:active {
  outline-offset: 3px;
  outline: 3px solid $primary-color;
}
