// Styles for 👩‍🎨
// The show page! 🖼

// The actual search distance input should be hidden
.search-distance-input {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

// All styles declared as children of the main class
.show-advertisement {

  .sharing-column {
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: $dark-gray;

    .bookmark {
      color: $secondary-color;
      text-align: right;
    }

    .material-icons {
      font-size: 2.6rem;
    }

    a {
      font-weight: 400;
      font-size: .85rem;
      color: $dark-gray;
      border-bottom: 1px dotted $medium-gray;
      cursor: pointer !important;

      &:before {
        content: '→ '
      }

      &:focus {

        &:before {
          content: '✔ '
        }
      }

      &:hover {
        color: $secondary-color;
        border-bottom: 1px solid $dark-gray;
      }
    }
  }

  .left-column {

    padding-top: 0rem;
    padding-bottom: 0rem;

    @include breakpoint(large) {
      min-width:400px;
      max-width:400px;
    }

    .map-container {
      padding-top: .75rem;

      @include breakpoint(small) {
        margin-top: 0px;
      }

      #js-small-map {
        &.show-page-small-map {

          &:hover {
            outline: 1px solid $primary-color;
            border: 2px solid $primary-color;
            cursor: zoom-in;
          }

          .material-icons {
            visibility: hidden;
          }
        }
      }
    }

    .contact-container {
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 0px;

      dd a {
        font-size: $small-font-size;
        font-weight: bold;
      }

    }

    .information-container {
      padding-top: 10px;
      padding-bottom: 0px;
      word-wrap: break-word;

      dd a {
        font-size: $small-font-size;
        font-weight: bold;
      }

      @include breakpoint(small) {
        margin-top: 0px !important;
      }

      @include breakpoint(medium) {
        margin-top: 0px !important;
      }

      @include breakpoint(large) {
        margin-top: 0px !important;
      }
    }
  }

  .center-column {

    @include breakpoint(small) {

    }

    @include breakpoint(medium) {

      .heading-container {

        h1 {
          margin-bottom: 3px;
          font-size: 2.4rem;
        }

      }

      .emoji {
        text-align: right;
      }
    }

    @include breakpoint(large) {
      .heading-container {

        h1 {
          margin-bottom: 3px;
          font-size: 2.4rem;
        }

      }

      .emoji {
        text-align: right;
      }
    }

    .emoji-tags {
      display: inline-block;

      a {
        font-size: 2.5rem;
        padding-top: .5rem;
        padding-right: .5rem;
        margin-bottom: .25rem;
        text-align: center;
        @include diamond-pattern(lighten($alert-color, 15));

        &:hover {
          cursor: pointer;
        }
      }
    }

    .new-reaction {
      color: darken($alert-color, 5);
      @include diamond-pattern(lighten($alert-color, 15));
      text-shadow: 0px 1px rgba(white, .5);

      &:hover {
        color: white;
        cursor: pointer;
        text-shadow: 0px 1px rgba(black, .25);
      }
    }

    .heading-container {

      svg {
        color: $primary-color !important;
        width: 100%;
        padding-top: .5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #js-add-bookmark {
        text-align: right;
      }

      .material-icons {
        padding-top: 1rem;
        color: $secondary-color;
        font-size: 3rem;
        cursor: pointer;
      }

    }

    .poster-controls {

      a {
        font-size: $small-font-size;
        font-weight: bold;
      }
    }

    .emoji-reacts {

      @include breakpoint(large) {
        .label {

          cursor: pointer;
          color: $primary-color !important;
          transition: all .05s ease-in-out;
          font-weight: bold;

          &.new-reaction {
            padding: 0.33333rem 0.5rem;
            width: auto !important;
          }

          &.emoji {
            font-size: 2.25rem;
            margin-bottom: 4px;
          }
        }
      }

    }

    .reacts-at-bottom {

      p {
        font-weight: bold;
      }

      font-size: $small-font-size;
      color: grey;

    }

    .emoji-react-container {
      padding-bottom: 1rem;
    }

    .view-counter {
      font-size: 0.75em;
      font-weight: bold;
      color: grey;
    }

  }

  .right-column {

    .images-container {

      padding-top: 0.75rem;

      .packery-item {

        background-color: white;

        img {
          border: 2px solid white;
          outline: 1px solid $medium-gray;
          width: 100%;

          &:hover {
            cursor: zoom-in;
            border: 2px solid $primary-color;
            outline: 1px solid $primary-color;
          }
        }
      }

      @include breakpoint(small) {
        margin-top: 0px;

        .gutter-sizer {
          width: 1rem;
        }

        .packery-item {
          width: 100%;
        }

      }

      @include breakpoint(medium) {

        .gutter-sizer {
          width: 1rem;
        }

        .packery-item {
          width: 100%;
        }
      }

      @include breakpoint(large) {

        .gutter-sizer {
          width: calc(2rem / 2);
        }

        .packery-item {
          width: calc(33.2345% - (2rem / 3));
        }
      }
    }
  }
}

#modal {
  background: $spiral-gradient;
  background-size: 100px 50px;
}

.carousel-cell {
  width: 100%; /* full width */
  margin-top: 8vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell img {
  border: 1px solid $medium-gray;
  display: block;
  max-height: 100%;
}

.information {

  .location {
    @include diamond-pattern($primary-color);
  }

  .type {
    @include diamond-pattern($success-color);
  }

  .category {
    color: $primary-color;
    @include diamond-pattern($warning-color);
  }

}
