@import "src/foundation_and_overrides.scss";

@import "mapbox-gl/dist/mapbox-gl.css";
@import "instantsearch.css/themes/algolia-min.css";

// Import component styles
@import "src/components/search-filters-list.scss";
@import "src/components/emoji-picker.scss";
@import "src/components/image-container.scss";

// Import page-specific styles
@import "src/pages/_v2search.scss";
@import "src/pages/_show.scss";
@import "src/pages/_new.scss";

body {

  background-color: $body-background;
  $body-background-alt: darken($body-background, 1);

  $spiral-gradient: radial-gradient(circle at 100% 150%, $body-background 24%, $body-background-alt 24%, $body-background-alt 28%, $body-background 28%, $body-background 36%, $body-background-alt 36%, $body-background-alt 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, $body-background 24%, $body-background-alt 24%, $body-background-alt 28%, $body-background 28%, $body-background 36%, $body-background-alt 36%, $body-background-alt 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, $body-background-alt 10%, $body-background 10%, $body-background 23%, $body-background-alt 23%, $body-background-alt 30%, $body-background 30%, $body-background 43%, $body-background-alt 43%, $body-background-alt 50%, $body-background 50%, $body-background 63%, $body-background-alt 63%, $body-background-alt 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, $body-background-alt 5%, $body-background 5%, $body-background 15%, $body-background-alt 15%, $body-background-alt 20%, $body-background 20%, $body-background 29%, $body-background-alt 29%, $body-background-alt 34%, $body-background 34%, $body-background 44%, $body-background-alt 44%, $body-background-alt 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, $body-background-alt 5%, $body-background 5%, $body-background 15%, $body-background-alt 15%, $body-background-alt 20%, $body-background 20%, $body-background 29%, $body-background-alt 29%, $body-background-alt 34%, $body-background 34%, $body-background 44%, $body-background-alt 44%, $body-background-alt 49%, transparent 49%, transparent);

  background-image: $spiral-gradient;

  background-size: 100px 50px;

  fieldset legend {

    .material-icons {

      @include breakpoint(small) {
        font-size: 22px;
      }

      @include breakpoint(medium) {
        margin-top: 1px;
        font-size: 16px;
      }

      @include breakpoint(large) {
        margin-top: 1px;
        font-size: 16px;
      }

    }

    color: $primary-color;
    font-weight: bold;
    text-overflow: hidden;
  }

  input {
    &:focus {
      outline-offset: 3px;
      transition: outline .05s ease-in-out !important;
      outline: 3px solid $primary-color !important;
    }
  }
}

#mobile-title-bar {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: $secondary-color;
  z-index: 10000;
  height: 3.6rem;
}

.label {
  font-weight: bold !important;
}

.top-bar {

  color: white !important;

  .material-icons {

    @include breakpoint(small) {
      font-size: 22px;
    }

    @include breakpoint(medium) {
      margin-top: 1px;
      font-size: 16px;
    }

    @include breakpoint(large) {
      margin-top: 1px;
      font-size: 16px;
    }

  }

  .main-menu {

    @include breakpoint(small) {
        background-color: red;
    }

  }

  ul {

    li, a {
      color: white !important;

      &::after {
        border-color: white transparent transparent !important;
      }
    }
  }
}

.algolia-places button svg {
  margin-top: -8px;
}

.fieldset {
    @include callout-style($alert-color);
}

// CKEditor styles
.cke_focus {
  transition: outline .05s ease-in-out !important;
  outline-offset: 3px;
  outline: 3px solid $primary-color !important;
}

input.ais-SearchBox-input {
  border-radius: 0px !important;
}

input.ais-SearchBox-input:focus {
  transition: all .05s ease-in-out;
  outline: 3px solid $primary-color;
}

.ais-SearchBox-submitIcon {
  display: none;
}

.footer {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.advertisement_title input {
  height: 3.5rem;
  font-size: 2.0rem;
  padding: 1rem 0.5rem 1rem 1rem;
}
