.toast {

  color: $primary-color !important;
  position: absolute;
  bottom: 0px;
  right: 1rem;
  padding: 1rem;
  border: 2px solid white;
  outline: 1px solid $medium-gray;
  background-color: rgba(lighten($alert-color, 20), .75) !important;
  backdrop-filter: blur(3px);
  z-index: 1000;

  span {
    color: $primary-color !important;
  }
}
