.search-filters-menu {

  .menu.vertical a {
    transition: all .05s ease-in-out;
  }

  .menu.vertical a.is-refined {
    font-weight: bold;
    color: white !important;
    background-color: $alert-color !important;
  }

  .menu.vertical a:hover {
    font-weight: bold;
  }

  .menu.vertical a:focus {
    background-color: lighten($primary-color, 60)
  }

}
