<div class="container">
  <form action="/v2_search/search">
    Search<br>
    <input type="text" name="query"><br>
    Location<br>
    <input type="text" name="location">
    Distance<br>
    <input type="number" name="distance">
    Category<br>
    <input type="text" name="category">
    Type<br>
    <input type="text" name="for">
    <input type="submit">
  </form>
</div>
