<a href="#" <% if view_type === 'masonry' %>class="selected"<% end %> data-view-filter="masonry">
  <i class="material-icons" data-view-filter="masonry">view_module</i>
</a>
<a href="#" <% if view_type === 'list' %>class="selected"<% end %> data-view-filter="list">
  <i class="material-icons" data-view-filter="list">list</i>
</a>
<a href="#" <% if view_type === 'map' %>class="selected"<% end %> data-view-filter="map">
  <i class="material-icons" data-view-filter="map">map</i>
</a>
<a href="#" data-view-filter="map" class="hide-for-large">
  <i class="material-icons" data-view-filter="map">remove_red_eye</i>
</a>
